@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC&family=VT323&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(https://i.ibb.co/kQYjxs9/Be-Funky-design.jpg);
    background-size: cover;
}

.banner {
    overflow: hidden;
    background-image: url(/banner.jpg);
    padding: 20px 10px;
    height: 120px; 
  }
  .logo{
    
    width: 360px;
    height: 130px;
    background-color: transparent;
    right: 900%;
}

  
 .navegacion {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;      

  }
 
  .searchIcon{
      z-index: 1;
      position:absolute;
      margin-top: 18px;
      margin-left: 230px;
      opacity: 0.5; 
  }
  .searchIcon:hover{
    transform: scale(1.3);
    opacity: 1;
}

#buscador{
    width: 255px;
    height: 40px;
    margin-top: 10px;
    border-radius: 15px;
    border: 1px solid rgb(212, 154, 68);
    background: rgb(241, 243, 130);
    outline: none;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 15px;
    text-align: center;
}
#buscador:hover{
    background: rgb(212, 154, 68);
}
#botonNuevaBusqueda{
    margin-right: 20px;
    margin: 6px;
    width: 150px;
    height: 50px;
    font-family: 'Alegreya Sans SC', sans-serif;
    text-align: center;
    border: 1px solid rgb(212, 154, 68);
    border-radius: 10px;
    background: rgb(241, 243, 130);
}
#botonNuevaBusqueda:hover{
    background-color: rgb(212, 154, 68);
    transform: scale(1.1);
}

#menuDesplegable{
    text-align-last: center;
    margin-right: 20px;
    margin: 6px;
    height: 50px;
    width: 250px;
    background-color: rgb(241, 243, 130);
    border: 1px solid rgb(212, 154, 68);
    border-radius: 15px;
    outline: none;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 20px;
    
  
}
#menuDesplegable:hover{
    background: rgb(212, 154, 68);
}

.inicio{
    margin: 50px;
    margin-top: 0px;
    display: flex;
    align-items: center;
    flex-wrap: wrap; 
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
   
}
.claseTarjeta{
    margin: 20px;
    padding: 30px;
    background-color: rgb(255, 255, 255);
    width: 120px;
    border-radius: 20px;
    border:1px solid #f7a15170;
    font-family: 'Oswald', sans-serif;    
    text-transform: capitalize;
    flex-direction: row;
    cursor: pointer;
    box-shadow: 30px 30px 30px rgba(100, 100, 100, 0.5);
}
.claseTarjeta:hover{
    background-color: #f7a151;
    transform: scale(1.2);
}

.desplegable{
display: flex;
justify-content: center;
margin: 100px;
margin-top: 10px;
flex-wrap: wrap; 
flex-direction: row;
cursor: pointer;
text-align: center;

}

#prueba{
    background-color: tomato;
    width: 300px;
    height: 400px;
    border-radius: 30px;
}

footer{
    display:flex;
    flex-direction: column ;
    align-items: center;
}
  #footerImg{
    width: 20%;
  }

  #masInformacion{
    font-size: 25px;
    font-family: 'Oswald', sans-serif;    

}


/*MODAL POKEDEX*/
.fondo{
    width: 100%;
    height: 100%;
    display: flex;
    background-color: rgba(0, 0, 0, 0.404);
    backdrop-filter: blur(5px);
}

.modalBuscador{
    display: none;
    flex-direction: row;
    position: fixed;
    z-index: 1;
    overflow: auto;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

}
.contenido-modal-buscador{
    position: relative;
    background: #cf1111;
    margin: auto;
    width: 300px;
    height: 500px;
    border-radius: 20px;
    border: 2px solid;
    animation-name: modal;
    animation-duration: 1s;
}
.imagenPoke{
    z-index: 1;
    position: absolute;
    margin-top: 50px;
    background-color: transparent;
    margin-left: 30%;
}
#fondoImagen{
    width: 290px;
    height: 200px;
    position: fixed;
    margin-top: 10px;
    margin: 3px;    
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
}
#pokeball{
    position: fixed;
    height: 40px;
    width: 40px;
    margin-top: -40px;
    margin-left: 250px;
}
#circle{
    width: 35px;
    height: 35px;
    margin-left: 10px;
    margin-top: 7px;
    background-color: rgb(0, 255, 200);
    border: 5px double;
    border-radius: 50%;
}
#cruz{
    position: fixed;
    z-index: 1;
    margin-top: 290px;
    margin-left: -10px;    
    width: 80px;
    height: 50px;
    
}
.contorno{
    display: flex;
    flex-direction: row;
    background-color: gray;
    width: 290px;
    height: 225px;
    margin: 3px;
    margin-top: 215px;
    border: 2px solid;
    border-radius: 10px;
    position: fixed;
}
#name{
    position: fixed;
    background-color: rgb(105, 172, 70);
    width: 200px;
    height: 20px;
    margin-top: 218px;
    margin-left: 80px;
    border-radius: 30px;
    border: 2px solid;
}
#namePoke{
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-family: 'IBM Plex Mono', monospace; 
    font-weight: bolder;   


}
.info{
    position: fixed;    
    font-family: 'IBM Plex Mono', monospace;    
    width: 230px;
    text-align: center;
    margin: 55px;
    margin-top: 245px;
    background-color: rgb(105, 172, 70);
    border: 5px double;
    word-wrap: break-word;
    text-transform: capitalize;   
    font-weight: bold;

}
   
span{
    font-size: 13px;
}

.closeBuscador{
    color: rgb(0, 0, 0);
    margin: 9px;
    font-size: 30px;
    font-weight: bold;
}
.closeBuscador:hover{
    color: rgb(255, 14, 14);
    text-decoration: none;
    cursor: pointer;
}

.modalBuscador-body{
    padding: 20px 16px;
}



@keyframes modal{
    from{top: -330px; opacity: 0;}
    to{top:0; opacity: 1;}

}

@media screen and (max-width: 500px) {
  
    .inicio{
        flex-direction: column;
    }
    .desplegable{
    flex-direction: column;
    }
    .navegacion{
        flex-direction: column;
    }
    .containerSearch{
        flex-direction: column;
    }
  }
=======
.inicio{
    display: flex;
    align-items: center;
    flex-wrap: wrap; 
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
   
}
.claseTarjeta{
    margin: 10px;
    background-color: rgb(255, 255, 255);
    width: 200px;
    border-radius: 20px;
    font-family: 'Quicksand', sans-serif;
    text-transform: capitalize;
    flex-direction: row;
    cursor: pointer;
}

.desplegable{
display: flex;
flex-wrap: wrap; 
flex-direction: row;
text-align: center;
cursor: pointer;
justify-content: center;

}
/*.buscador{
    display: flex;
    flex-wrap: wrap; 
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}*/

#prueba{
    background-color: tomato;
    width: 300px;
    height: 400px;
    border-radius: 30px;
}

.flex{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1{
    font-size: 20px;
    text-align: center;
    background: #89C893;
    height: 30px;
    margin-top: 0;
}

.modal{
    display: none;
    position: fixed;
    z-index: 1;
    overflow: auto;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.contenido-modal{
    font-family: 'Quicksand', sans-serif;
    position: relative;
    background: #49896F;
    margin: auto;
    width: 30%;
    border-radius: 10px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.438);
    animation-name: modal;
    animation-duration: 1s;
}
.close{
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: bold;
}
.close:hover{
    color: rgb(160, 0, 0);
    text-decoration: none;
    cursor: pointer;
}
#informacion{
    text-align: justify;
}
.modal-body{
    padding: 20px 16px;
}


/*MODAL BUSCADOR*/
.flexBuscador{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modalBuscador{
    display: none;
    position: fixed;
    z-index: 1;
    overflow: auto;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.contenido-modal-buscador{
    font-family: 'Quicksand', sans-serif;
    position: relative;
    background: #cf1111;
    margin: auto;
    width: 200px;
    height: 400px;
    border-radius: 20px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.438);
    animation-name: modal;
    animation-duration: 1s;
}
.imagenPoke{
    display: flex;
    width: 150px;
    margin-left: 25px;
    flex-wrap: wrap; 
    flex-direction: row;
    background-color: white;
    border-radius: 10px;

}
.info{
    text-align: center;
}

.closePoke{
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: bold;
}
.closePoke:hover{
    color: rgb(160, 0, 0);
    text-decoration: none;
    cursor: pointer;
}

.modalBuscador-body{
    padding: 20px 16px;
}







@keyframes modal{
    from{top: -330px; opacity: 0;}
    to{top:0; opacity: 1;}

}

@media screen and (max-width: 500px) {
    .logo{
        float: none;
    }

    .search {
      float: none;
    }
    .modal{
        float: none;
    }
    .inicio{
        flex-direction: column;
    }
    .claseTarjeta{
        flex-direction: column;
    }
    .desplegable{
    flex-direction: column;
    }
    .buscador{
        flex-direction: column;
    }
  
  }

footer{
    display:flex;
    flex-direction: column ;
    align-items: center;
}
  #footerImg{
    width: 20%;
  }

  #masInformacion{
    font-size: 25px;
}
