@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(https://i.ibb.co/kQYjxs9/Be-Funky-design.jpg);
    background-size: cover;
}

.banner {
    overflow: hidden;
    background-color: rgb(4, 0, 255);
    padding: 20px 10px;
    height: 100px;
  }
  
  .search {
    float: right;
  }

/*.logo{
    
    width: 170px;
    height: 100px;
    background-color: transparent;
}*/


#buscador{
background-color: rgb(247, 247, 247);
width: 200px;
height: 30px;
outline: none;
border-color: transparent;
border-radius: 20px 0px 0px 20px;

}
#btnSearch{
    background-color: rgb(247, 247, 247);
    height: 38px;
    border-right: white;    
    border-radius: 0px 15px 15px 0px;

}

#menuDesplegable{
    height: 50px;
    width: 300px;
   border-radius: 20px 20px 20px 20px;
}
   

.inicio{
    display: flex;
    align-items: center;
    flex-wrap: wrap; 
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
   
}
.claseTarjeta{
    margin: 10px;
    background-color: rgb(255, 255, 255);
    width: 200px;
    border-radius: 20px;
    font-family: 'Quicksand', sans-serif;
    text-transform: capitalize;
    flex-direction: row;
    cursor: pointer;
}

.desplegable{
display: flex;
flex-wrap: wrap; 
flex-direction: row;
text-align: center;
cursor: pointer;
justify-content: center;

}
/*.buscador{
    display: flex;
    flex-wrap: wrap; 
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}*/

#prueba{
    background-color: tomato;
    width: 300px;
    height: 400px;
    border-radius: 30px;
}

.flex{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1{
    font-size: 20px;
    text-align: center;
    background: #89C893;
    height: 30px;
    margin-top: 0;
}

.modal{
    display: none;
    position: fixed;
    z-index: 1;
    overflow: auto;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.contenido-modal{
    font-family: 'Quicksand', sans-serif;
    position: relative;
    background: #49896F;
    margin: auto;
    width: 30%;
    border-radius: 10px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.438);
    animation-name: modal;
    animation-duration: 1s;
}
.close{
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: bold;
}
.close:hover{
    color: rgb(160, 0, 0);
    text-decoration: none;
    cursor: pointer;
}
#informacion{
    text-align: justify;
}
.modal-body{
    padding: 20px 16px;
}


/*MODAL BUSCADOR*/
.flexBuscador{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modalBuscador{
    display: none;
    position: fixed;
    z-index: 1;
    overflow: auto;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.contenido-modal-buscador{
    font-family: 'Quicksand', sans-serif;
    position: relative;
    background: #cf1111;
    margin: auto;
    width: 200px;
    height: 400px;
    border-radius: 20px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.438);
    animation-name: modal;
    animation-duration: 1s;
}
.imagenPoke{
    display: flex;
    width: 150px;
    margin-left: 25px;
    flex-wrap: wrap; 
    flex-direction: row;
    background-color: white;
    border-radius: 10px;

}
.info{
    text-align: center;
    margin-top: ;
}

.closePoke{
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: bold;
}
.closePoke:hover{
    color: rgb(160, 0, 0);
    text-decoration: none;
    cursor: pointer;
}

.modalBuscador-body{
    padding: 20px 16px;
}







@keyframes modal{
    from{top: -330px; opacity: 0;}
    to{top:0; opacity: 1;}

}

@media screen and (max-width: 500px) {
    .logo{
        float: none;
    }

    .search {
      float: none;
    }
    .modal{
        float: none;
    }
    .inicio{
        flex-direction: column;
    }
    .claseTarjeta{
        flex-direction: column;
    }
    .desplegable{
    flex-direction: column;
    }
    .buscador{
        flex-direction: column;
    }
  
  }
