@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
body{
    
    background-color: #DBFDB9;
   
}

#pokeTarjeta{
    margin-top: 5%;
    background-color: violet;
    width: 15%;
    height: 300px;
    margin-left: 5%;
    left: 80%;
}

#pokeInicio{
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    height: 80%;
}

 

header{
    background-color: #3A4AD8;
    display: flex;
    margin-top: 0px;    
    width: cover;
    height: 120px;
}


#logo{
    position: relative;
    width: 170px;
    height: 100px;
    background-color: transparent;
    top: -15%;
}

.search{
    display: flex;
    justify-content: flex-end;    
    width: 1300px;
    margin-top: 5%;
    
}
#buscador{
display: flex;
background-color: rgb(247, 247, 247);
width: 200px;
height: 30px;
outline: none;
border-color: transparent;
border-radius: 20px 0px 0px 20px;

}
#btnSearch{
    background-color: rgb(247, 247, 247);
    height: 38px;
    border-right: white;    
    border-radius: 0px 15px 15px 0px;
  
}

img{
    position: relative;
    background-color: rgb(238, 238, 238);
    border-radius: 5%;
    width: 75%;
    top: 10%;
    left: 8%;
}



p{
  position: relative;
  text-transform: capitalize;
  size: 48px;
  top: 15%;
  left: 15%;
    
}

#imagenes{

 display: flex; 
 flex-wrap: wrap;
 top: 50%;
 left: 30%;

}

#info{
    background-color: white;
    top: 10%;
    width: 50%;
}
/*#info{
display: flex;
text-align: justify;
background-color: rgb(189, 85, 85);
width: 200px;
height: 300px;
margin-right: 50%;
margin-left: 50%;
flex-wrap: wrap;
box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}*/
