
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

body{
    
    background-color: #DBFDB9;
    background-image: url(https://i.ibb.co/kQYjxs9/Be-Funky-design.jpg);
    margin: 0; 
    padding: 0;


}

header{
    background-color: #3A4AD8;
    border: rgba(255, 0, 0, 0.5) px double;
    width: 100%;
    height: 120px;
}


#logo{
    margin-left: 1%;
    margin-top: 1%;
    width: 170px;
    height: 100px;
    background-color: transparent;
}

.search{
    display: flex;
    justify-content: flex-end;
    margin-top: -10%;
    margin-right: 10%;
    
    
}
#buscador{
display: flex;
background-color: rgb(247, 247, 247);
width: 200px;
height: 30px;
outline: none;
border-color: transparent;
border-radius: 20px 0px 0px 20px;

}
#btnSearch{
    background-color: rgb(247, 247, 247);
    height: 38px;
    border-right: white;    
    border-radius: 0px 15px 15px 0px;
  
}
#menu{
    display: flex;
    justify-content: center;
    margin-top: -3%;    

}
#menuDesplegable{
    height: 50px;
    width: 300px;
   border-radius: 20px 20px 20px 20px;
}

img{
    background-color: white;
    border-radius: 5%;
    margin: 5%;
}


#imagenes{
    background-color: tomato;
    display: flex;
    width: 900px;
    margin-right: 50%;
    margin-left: 20%;
    margin-top: 10%;
    flex-wrap: wrap;
    
   
 }

 h3{
    font-family: 'Quicksand', sans-serif;
    text-transform: capitalize;
   margin-left: -13%;
  

 }
   

#tarjeta{
    display: flex;
    background-color: tomato;
    font-family: 'Quicksand', sans-serif;
    width: 200px;
    margin-left: 40%;
    margin-right: 50%;
    margin-top: 1%;
    flex-wrap: wrap;

body{
    background-color: #DBFDB9;
}
#imagen{
    background-color: transparent;
}

